{
  "name": "Craft Nuxt GraphQL Schema",
  "schemaPath": "./gql/.schema.graphql",
  "extensions": {
    "endpoints": {
      "dev": {
        "name": "dev (http://api-craftvue.test)",
        "url": "http://api-craftvue.test",
        "headers": {
          "user-agent": "JS GraphQL",
          "Authorization": "Bearer CRAFT_GRAPHQL_TOKEN"
        },
        "introspect": true
      }
    }
  }
}
