{
  "name": "Craft Nuxt GraphQL Schema",
  "schemaPath": "./gql/.schema.graphql",
  "extensions": {
    "endpoints": {
      "dev": {
        "name": "dev (http://api-craftvue.nitro)",
        "url": "http://api-craftvue.nitro",
        "headers": {
          "user-agent": "JS GraphQL",
          "Authorization": "Bearer czhm23589yvt4U3W-ooc_UQc9O02tHl1"
        },
        "introspect": true
      }
    }
  }
}
